body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

.login-box {
    width: 300px;
    margin: 120px auto;
    background: #1A1A1A;
    padding: 25px;
    border: 2px solid #C27023;
    text-align: center;
    border-radius: 10px;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    background: #222;
    border: 1px solid #444;
    color: white;
}

button {
    width: 95%;
    padding: 10px;
    background: #C27023;
    border: none;
    cursor: pointer;
    color: white;
}

button:hover {
    background: #8A3B0F;
}

.admin-panel {
    padding: 20px;
}

.form-area {
    background: #1A1A1A;
    padding: 20px;
    border: 2px solid #C27023;
    width: 350px;
    border-radius: 10px;
}

.form-area input,
.form-area select {
    width: 95%;
    padding: 8px;
    margin: 6px 0;
    background: #222;
    border: 1px solid #444;
    color: white;
}

.lista-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.produto-card {
    background: #1A1A1A;
    border: 2px solid #C27023;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.produto-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
