.produto-main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
}

.produto-area {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.produto-img {
    width: 380px;
    border: 2px solid #C27023;
}

.produto-info {
    max-width: 350px;
}

.preco-prod {
    font-size: 24px;
    color: #C27023;
}

.tamanhos label {
    border: 1px solid white;
    padding: 8px;
    margin: 4px;
    cursor: pointer;
    display: inline-block;
}
