body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000;
    border-bottom: 2px solid #C27023;
}

.logo {
    height: 70px;
}

.menu a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.titulo-principal {
    text-align: center;
    margin-top: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.product-card {
    background: #1A1A1A;
    border: 2px solid #C27023;
    padding: 15px;
    width: 250px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.price {
    font-size: 18px;
    margin: 8px 0;
    color: #C27023;
}

button {
    background: #C27023;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: #8A3B0F;
}
