body{margin:0;background:#111;color:white;font-family:Arial;}
.header{display:flex;justify-content:space-between;padding:20px;background:#000;border-bottom:2px solid #C27023;}
.logo{height:70px;}
.menu a{color:white;margin-left:20px;text-decoration:none;}
